.SkystatWeb {
  width: 800px;
  height: 480px;
  background: white;
}

.Thecabinlogo {
  width: 304px;
  height: 96px;
  position: absolute;
  left: 10px;
  top: 370px;
}

.card {
  width: 385px;
  height: 131px;
  position: absolute;
  background: #D9D9D9;
  border-radius: 10px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 187px;
  height: 43px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: transform 0.1s ease;
}

.btn:active {
  transform: scale(0.98);
}

.BtnRefresh {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(90deg, #6184FF 0%, #2FB4FF 100%);
}

.Cleardisplay .BtnRefresh {
  background: linear-gradient(90deg, #2FB4FF 0%, #2FF3FF 100%);
}

.card-title, .card-content {
  position: absolute;
  left: 15px;
  color: black;
  font-family: Asap;
  word-wrap: break-word;
}

.card-title {
  top: 9px;
  font-size: 24px;
  font-weight: 600;
}

.card-content {
  top: 45px;
  font-size: 20px;
  font-weight: 400;
}

.progress-bar {
  width: 355px;
  height: 35px;
  position: absolute;
  left: 15px;
  top: 49px;
  background: #393939;
  border-radius: 58px;
}

.Headerdivider {
  width: 800px;
  border: 2px solid black;
  position: absolute;
  top: 70px;
}

.Githubrepo, .Appname {
  position: absolute;
  color: black;
  font-size: 16px;
  font-family: Asap;
  font-weight: 400;
}

.Appname {
  font-size: 32px;
  top: 4px;
}

.Githubrepo {
  top: 43px;
}