<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Stats</title>
</head>
<body>
    <div class="container">
        <h1>Hughesnet stats</h1>
        <p>Current plan limits and data usage :)</p>
        
        <button id="refresh-button" class="refresh-button">Refresh Display</button>
        <button id="clearDisplay-button" class="clearDisplay-button">Clear Display</button>
    </div>

    <div class="progress-bars">
        <div class="progress-bar regular">
          <div class="progress" style="height:{{ regular_percentage }}%;"></div>
        </div>
        <div class="progress-bar bonus">
          <div class="progress" style="height:{{ bonus_percentage }}%;"></div>
        </div>
    </div>
      

    <script src="{{ url_for('static', filename='scripts.js') }}"></script> 
</body>
</html>

